#webgl {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

.fullheight {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.fullheight > .fullheight-head,
.fullheight > .fullheight-foot {
  flex-grow: 0;
  flex-shrink: 0;
}

.fullheight > .fullheight-body {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
}

.content {
  width: 100%;
}

.content.centered {
  text-align: center;
}

body {
	font-family: 'Roboto Mono', monospace;
	color: #ddd;
	background: #000;
}

a {
	text-decoration: none;
	color: #eee;
	outline: none;
}

a:hover,
a:focus {
	color: #fff;
}
